*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Plain Light";
    color: #fff;
 }

 html,body{
    height: 100%;
    width:100%; 
 }

#loader{
    height: 100%;
    width:100%;
    position:fixed;
    z-index: 1000;
    background-color: #0B0B0B;
    padding:25vh 12vw;
}
.line{
    /* background-color: red    ; */
    height: fit-content;
    overflow:hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    gap:3vw;
}
#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-weight: 500;
    font-family: "silk serif";
}
#line1-part1 h5{
width: 5vw;
text-align: right;
}
.line h1{
    font-size: 6vw;
    /* font-weight: 500; */
}
.line h2{
    font-size: 4.5vw;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

 #main{
    position: relative;
    background-color: #030303;   
 }
 #page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
 }
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;    
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;    
        color:#fff;
        font-weight: 500;
        opacity: 1;
    }
    50%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;    
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }
    100%{
        font-family: "silk serif";
        color:transparent;
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 500;    
        opacity: 1;
    }
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    padding: 3.3vw 5.4vw;
}
#page1 #nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.4vw
}
#crsr{
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 50%;
    border:1px solid #fff;
    position: fixed;
    z-index: 900;
    transform:translate(-50%,-50%)
}
.page1-content{
    /* background-color: aqua;   */
    width: 73%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative; 
    z-index:999; 
}

.page1-content:nth-child(2){
    margin-top: 7.5vh;
    margin-right: 30%;
}

.page1-content h1{
 font-size: 7.25vw;  
 line-height:8vw; 
}

.page1-content h2{
    font-size: 7.25vw;  
    line-height:8vw; 
}
.page1-content h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}